.usernameLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.usernameInput {
  padding: 6px 12px;
  outline: 0 !important;
  border-radius: 3px;
  border: 1px solid #111;
  margin-top: 6px;
}

.valid {
  border-color: #090;
}

.invalid {
  border-color: #900;
}

.createRoomButton {
  padding: 6px 12px;
  min-width: 300px;
  text-align: center;
  border: 1px solid #111;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 auto 32px auto;
  display: block;
}

.createRoomButton:hover,
.createRoomButton:focus {
  background-color: #f2f2f2;
}

.modalHeader {
  margin-bottom: 16px;
}

.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.label span {
  margin-bottom: 6px;
}

.form input,
form textarea {
  padding: 6px 12px;
  border: 1px solid #000;
  border-radius: 3px;
  resize: vertical;
}

.form input:focus,
form textarea:focus {
  outline: 0;
  border: 1px dashed #000;
}

.form button[type=submit] {
  margin-top: 6px;
  width: 100%;
  background-color: #07f;
  color: #fff;
  padding: 9px 12px;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}