.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    color: #666;
    font-size: 0.8rem;
    a{
      color: #777;
    }
  }
}
.roomTitle{
  font-size: 1.5rem;
  margin-bottom: 6px;
  color: #111;
}