.table {
  // background: url("bg.webp") #07f;
  background-size: cover;
  background-position: 38% center;
  border-radius: 100%;
  position: relative;
  width: 600px;
  height: 600px;
  margin: 60px auto 100px auto;
  .tablebg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    background: url("bg.webp") #07f;
    background-size: cover;
    background-position: 38% center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 100%;
      z-index: -1;
    }
  }
  .content {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    h2 {
      font-size: 1em;
      margin-bottom: 6px;
      font-weight: 400;
    }
    .word {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;
      font-size: 1.8em;
    }
    .guessedWord {
      margin-top: 6px;
      span {
        font-weight: 600;
        color: rgb(80, 220, 80);
      }
    }
  }
}
